<% MOOD_ARRAY.each do |mood| %>
      <%if mood == @desired_mood %>
        <%= "<option value =\""+mood+"\" selected=\"selected\">"+mood+"</option>"%>
      <%else%>
        <%= "<option value =\""+mood+"\">"+mood+"</option>"%>
      <%end%>
<%end%>
