 <option value="aggressive">aggressive</option>
 <option value="ambient">ambient</option>
 <option value="angry">angry</option>
 <option value="angst-ridden">angst-ridden</option>
 <option value="bouncy">bouncy</option>
 <option value="calming">calming</option>
 <option value="carefree">carefree</option>
 <option value="cheerful">cheerful</option>
 <option value="cold">cold</option>
 <option value="cool">cool</option>
 <option value="dramatic">dramatic</option>
 <option value="elegant">elegant</option>
 <option value="energetic">energetic</option>
 <option value="epic">epic</option>
 <option value="excited">excited</option>
 <option value="fun">fun</option>
 <option value="funky">funky</option>
 <option value="futuristic">futuristic</option>
 <option value="gentle">gentle</option>
 <option value="gleeful">gleeful</option>
 <option value="gloomy">gloomy</option>
 <option value="groovy">groovy</option>
 <option value="happy">happy</option>
 <option value="humorous">humorous</option>
 <option value="industrial">industrial</option>
 <option value="intense">intense</option>
 <option value="intimate">intimate</option>
 <option value="joyous">joyous</option>
 <option value="laid-back">laid-back</option>
 <option value="light">light</option>
 <option value="lively">lively</option>
 <option value="manic">manic</option>
 <option value="melancholia">melancholia</option>
 <option value="mellow">mellow</option>
 <option value="mystical">mystical</option>
 <option value="party music">party music</option>
 <option value="passionate">passionate</option>
 <option value="peaceful">peaceful</option>
 <option value="playful">playful</option>
 <option value="quiet">quiet</option>
 <option value="rebellious">rebellious</option>
 <option value="reflective">reflective</option>
 <option value="relax">relax</option>
 <option value="romantic">romantic</option>
 <option value="rowdy">rowdy</option>
 <option value="sad">sad</option>
 <option value="sentimental">sentimental</option>
 <option value="sexy">sexy</option>
 <option value="smooth">smooth</option>
 <option value="soothing">soothing</option>
 <option value="sophisticated">sophisticated</option>
 <option value="sweet">sweet</option>
 <option value="warm">warm</option>
