 <option value="aggressive">Aggressive</option>
 <option value="ambient">Ambient</option>
 <option value="angry">Angry</option>
 <option value="angst-ridden">Angst-Ridden</option>
 <option value="bouncy">Bouncy</option>
 <option value="calming">Calming</option>
 <option value="carefree">Carefree</option>
 <option value="cheerful">Cheerful</option>
 <option value="cold">Cold</option>
 <option value="complex">complex</option>
 <option value="cool">cool</option>
 <option value="dark">dark</option>
 <option value="disturbing">disturbing</option>
 <option value="dramatic">dramatic</option>
 <option value="dreamy">dreamy</option>
 <option value="eerie">eerie</option>
 <option value="elegant">elegant</option>
 <option value="energetic">energetic</option>
 <option value="enthusiastic">enthusiastic</option>
 <option value="epic">epic</option>
 <option value="excited">excited</option>
 <option value="fun">fun</option>
 <option value="funky">funky</option>
 <option value="futuristic">futuristic</option>
 <option value="gentle">gentle</option>
 <option value="gleeful">gleeful</option>
 <option value="gloomy">gloomy</option>
 <option value="groovy">groovy</option>
 <option value="happy">happy</option>
 <option value="harsh">harsh</option>
 <option value="haunting">haunting</option>
 <option value="humorous">humorous</option>
 <option value="hypnotic">hypnotic</option>
 <option value="industrial">industrial</option>
 <option value="intense">intense</option>
 <option value="intimate">intimate</option>
 <option value="joyous">joyous</option>
 <option value="laid-back">laid-back</option>
 <option value="light">light</option>
 <option value="lively">lively</option>
 <option value="manic">manic</option>
 <option value="meditation">meditation</option>
 <option value="melancholia">melancholia</option>
 <option value="mellow">mellow</option>
 <option value="mystical">mystical</option>
 <option value="ominous">ominous</option>
 <option value="party music">party music</option>
 <option value="passionate">passionate</option>
 <option value="pastoral">passionate</option>
 <option value="peaceful">peaceful</option>
 <option value="playful">playful</option>
 <option value="poignant">poignant</option>
 <option value="quiet">quiet</option>
 <option value="rebellious">rebellious</option>
 <option value="reflective">reflective</option>
 <option value="relax">relax</option>
 <option value="romantic">romantic</option>
 <option value="rowdy">rowdy</option>
 <option value="sad">sad</option>
 <option value="sentimental">sentimental</option>
 <option value="sexy">sexy</option>
 <option value="smooth">smooth</option>
 <option value="soothing">soothing</option>
 <option value="sophisticated">sophisticated</option>
 <option value="spacey">spacey</option>
 <option value="spiritual">spiritual</option>
 <option value="strange">strange</option>
 <option value="sweet">sweet</option>
 <option value="theater">theater</option>
 <option value="trippy">trippy</option>
 <option value="warm">warm</option>
 <option value="whimsical">whimsical</option>