<% STYLE_ARRAY.each do |style| %>
      <%if style == @style %>
        <%= "<option value =\""+style+"\" selected=\"selected\">"+style+"</option>"%>
      <%else%>
        <%= "<option value =\""+style+"\">"+style+"</option>"%>
      <%end%>
    <%end%>
