<option value="electro trance">Electro Trance</option>
<option value="emo">Emo</option>
<option value="epic doom metal">Epic Doom Metal</option>
<option value="german rock">German Rock</option>
<option value="thai pop">Thai pop</option>