<option value="rock">rock</option>
<option value="00s">00s</option>
<option value="pop">pop</option>
<option value="house">house</option>
<option value="jazz">jazz</option>
<option value="country">country</option>
<option value="club">club</option>
<option value="dance">dance</option>
<option value="soul">soul</option>
<option value="hip hop">hip hop</option>
<option value="blues">blues</option>
<option value="folk">folk</option>
<option value="romantic">romantic</option>
<option value="punk">punk</option>
<option value="metal">metal</option>
<option value="classical">classical</option>
<option value="electronic">electronic</option>
<option value="instrumental">instrumental</option>
<option value="latin">latin</option>
<option value="soundtrack">soundtrack</option>
<option value="funk">funk</option>
<option value="rap">rap</option>
<option value="disco">disco</option>
<option value="alternative">alternative</option>
<option value="indie">indie</option>
<option value="remix">remix</option>
<option value="opera">opera</option>
<option value="randb">r&b</option>
<option value="techno">techno</option>
<option value="reggae">reggae</option>
<option value="symphony">symphony</option>
<option value="electro">electro</option>
<option value="hard rock">hard rock</option>
<option value="electronica">electronica</option>
<option value="dance music">dance music</option>
<option value="trance">trance</option>
<option value="swing">swing</option>
<option value="ambient">ambient</option>