<h2><p>Welcome, <%=@name%>!</p>
<p>Search by mood and genre:</p>
<form action="/search" method="get">
  Mood: <select name="mood">
  <option value="aggressive">Aggressive</option>
  <option value="ambient">Ambient</option>
  <option value="angry">Angry</option>
  <option value="angst-ridden">Angst-Ridden</option>
  <option value="bouncy">Bouncy</option>
  <option value="calming">Calming</option>
  <option value="carefree">Carefree</option>
  <option value="cheerful">Cheerful</option>
  <option value="cold">Cold</option>
  <option value="complex">complex</option>
  <option value="cool">cool</option>
  <option value="dark">dark</option>
  <option value="disturbing">disturbing</option>
  <option value="dramatic">dramatic</option>
  <option value="dreamy">dreamy</option>
  <option value="eerie">eerie</option>
  <option value="elegant">elegant</option>
  <option value="energetic">energetic</option>
  <option value="enthusiastic">enthusiastic</option>
  <option value="epic">epic</option>
  <option value="fun">fun</option>
  <option value="funky">funky</option>
  <option value="futuristic">futuristic</option>
  <option value="gentle">gentle</option>
  <option value="gleeful">gleeful</option>
  <option value="gloomy">gloomy</option>
  <option value="groovy">groovy</option>
  <option value="happy">happy</option>
  <option value="harsh">harsh</option>
  <option value="haunting">haunting</option>
  <option value="humorous">humorous</option>
  <option value="hypnotic">hypnotic</option>
  <option value="industrial">industrial</option>
  <option value="intense">intense</option>
  <option value="intimate">intimate</option>
  <option value="joyous">joyous</option>
  <option value="laid-back">laid-back</option>
  <option value="light">light</option>
  <option value="lively">lively</option>
  <option value="manic">manic</option>
  <option value="meditation">meditation</option>
  <option value="melancholia">melancholia</option>
  <option value="mellow">mellow</option>
  <option value="mystical">mystical</option>
  <option value="ominous">ominous</option>
  <option value="party music">party music</option>
  <option value="passionate"></option>
  <option value="pastoral"></option>
  <option value="peaceful"></option>
  <option value="playful"></option>
  <option value="poignant"></option>
  <option value="quiet"></option>
  <option value="rebellious"></option>
  <option value="reflective"></option>
  <option value="relax"></option>
  <option value="romantic"></option>
  <option value="rowdy"></option>
  <option value="sad"></option>
  <option value="sentimental"></option>
  <option value="sexy"></option>
  <option value="smooth"></option>
  <option value="soothing"></option>
  <option value="sophisticated"></option>
  <option value="spacey"></option>
  <option value="spiritual"></option>
  <option value="strange"></option>
  <option value="sweet"></option>
  <option value="theater"></option>
  <option value="trippy"></option>
  <option value="warm"></option>
  <option value="whimsical"></option>
    <option value="happy">Happy</option>
    <option value="sad">Sad</option>
    <option value="angry">Angry</option>
    <option value="relaxing">Relaxing</option>
    <option value="excited">EXCITED</option>
  </select><p/>
  Genre: <select name="style">
    <option value="electro trance">Electro Trance</option>
    <option value="emo">Emo</option>
    <option value="epic doom metal">Epic Doom Metal</option>
    <option value="german rock">German Rock</option>
    <option value="thai pop">Thai pop</option>
  </select><p/>

  <input type="submit" value="search">
</form>

<!-- AUAC13N6YQZ5F1XMD  -->


