<h2><p>Welcome, <%=@name%>!</p>
<p>Search by mood and genre:</p>
<form action="/search" method="get">
  Mood: <select name="mood">
    <option value="happy">Happy</option>
    <option value="sad">Sad</option>
    <option value="angry">Angry</option>
    <option value="relaxing">Relaxing</option>
    <option value="excited">EXCITED</option>
  </select><p/>
  Genre: <select name="style">
    <option value="electro+trance">Electro Trance</option>
    <option value="emo">Emo</option>
    <option value="epic doom metal">Epic Doom Metal</option>
    <option value="german rock">German Rock</option>
    <option value="thai pop">Thai pop</option>
  </select><p/>

  <input type="submit" value="search">
</form>

<!-- UAC13N6YQZ5F1XMD  -->

<!-- <option name="aggressive"</option>
<option name="ambient"</option>
<option name="angry"</option>
<option name="angst-ridden"</option>
<option name="bouncy"</option>
<option name="calming"</option>
<option name="carefree"</option>
<option name="cheerful"</option>
<option name="cold"</option>
<option name="complex"</option>
<option name="cool"</option>
<option name="dark"</option>
<option name="disturbing"</option>
<option name="dramatic"</option>
<option name="dreamy"</option>
<option name="eerie"</option>
<option name="elegant"</option>
<option name="energetic"</option>
<option name="enthusiastic"</option>
<option name="epic"</option>
<option name="fun"</option>
<option name="funky"</option>
<option name="futuristic"</option>
<option name="gentle"</option>
<option name="gleeful"</option>
<option name="gloomy"</option>
<option name="groovy"</option>
<option name="happy"</option>
<option name="harsh"</option>
<option name="haunting"</option>
<option name="humorous"</option>
<option name="hypnotic"</option>
<option name="industrial"</option>
<option name="intense"</option>
<option name="intimate"</option>
<option name="joyous"</option>
<option name="laid-back"</option>
<option name="light"</option>
<option name="lively"</option>
<option name="manic"</option>
<option name="meditation"</option>
<option name="melancholia"</option>
<option name="mellow"</option>
<option name="mystical"</option>
<option name="ominous"</option>
<option name="party music"</option>
<option name="passionate"</option>
<option name="pastoral"</option>
<option name="peaceful"</option>
<option name="playful"</option>
<option name="poignant"</option>
<option name="quiet"</option>
<option name="rebellious"</option>
<option name="reflective"</option>
<option name="relax"</option>
<option name="romantic"</option>
<option name="rowdy"</option>
<option name="sad"</option>
<option name="sentimental"</option>
<option name="sexy"</option>
<option name="smooth"</option>
<option name="soothing"</option>
<option name="sophisticated"</option>
<option name="spacey"</option>
<option name="spiritual"</option>
<option name="strange"</option>
<option name="sweet"</option>
<option name="theater"</option>
<option name="trippy"</option>
<option name="warm"</option>
<option name="whimsical"
}
],
 -->
