  <div class="container" id="login">
    
    <div >
      <img id="moodlist-logo" src="images/moodlist_logo_450.png">
      <a href="/auth/facebook" class="button facebook"><img src="images/fb_reverse_logo.png"> &nbsp; Login </a>
    </div>

    <div id="tagline">       <p> Smoothly transitioning you from one mood to the
next through the power of music.</p>     </div>     <script
type="text/javascript"
src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<div class="credits"><a href="http://www.linkedin.com/pub/max-
davila/2a/b1b/42b" target="_blank">anaximandro</a> | <a href="http://www.linkedin.com/pub/jonathan-chew/55/727/13a" target="_blank">chewmanji</a> | <a href="http://www.linkedin.com/pub/nishant-chandra/35/804/8a2" target="_blank">n-chainz</a> | <a href="http://www.linkedin.com/in/trostli" target="_blank">trostli</a></div>
</div>
