<body id="login">
  <div class="container">
    <div >
      <img id="moodlist-logo" src="images/moodlist_logo_450.png">
      <a href="/auth/facebook" class="button facebook"><img src="images/fb_reverse_logo.png"> &nbsp; Login </a>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/loadingbar.js"></script>
 </div>
 <div id="credits">anaximandro | chewmanji | n-chainz | trostli</div>
</body>
