<h2><%= getUserName %>, here are your results!<p/></h2>
<% @sorted_array.each do |song|%>
<%= song["artist_name"] %> -
<%= song["title"] %><p/>
<%end%>
<h2>Search by mood and genre again:<p/>
<form action="/search" method="get">
  Mood: <select name="mood">
    <option value="happy">Happy</option>
    <option value="sad">Sad</option>
    <option value="angry">Angry</option>
    <option value="relaxing">Relaxing</option>
    <option value="excited">EXCITED</option>
  </select>
Genre: <select name="genre">
    <option value="electro trance">Electro Trance</option>
    <option value="emo">Emo</option>
    <option value="epic doom metal">Epic Doom Metal</option>
    <option value="german rock">German Rock</option>
    <option value="thai pop">Thai pop</option>
  </select> 

  <input type="submit" value="Create my playlist">
</form>
<iframe src="https://embed.spotify.com/?uri=spotify:trackset:Your own playlist:<%= @spotify_song_ids.join(',') %>" frameborder='0' allowtransparency='true' height='500'></iframe>
