
#loading_message{
	margin: 0px;
}

.loading_div {
	display: none;
	color: black;
	background-color: white;
	position:absolute;
	height: 160px;
	padding-top: 30px;
	width: 400px;
	top: 300px;
	vertical-align: center;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	opacity: 0.7;
	z-index: 100;
}
.loading_image {
	top: -20px;
	margin-top: 0px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	width:200;
}


